@font-face {
    font-family: "kronaOne";
    src: url(https://rajvin23.github.io/ProPathInfohub/fonts/KronaOne-Regular.ttf);
}

    @font-face{
    font-family: "Poppins";
    src: url(https://rajvin23.github.io/ProPathInfohub/fonts/Poppins/Poppins-Regular.ttf);
}
 
@font-face{
    font-family: "Poppins-SemiBold";
    src: url(https://rajvin23.github.io/ProPathInfohub/fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face{
    font-family: "Poppins-Thin";
    src: url(https://rajvin23.github.io/ProPathInfohub/fonts/Poppins/Poppins-Light.ttf);
} 

@font-face{
  font-family: "Poppins-bold";
  src: url(https://rajvin23.github.io/ProPathInfohub/fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: "PoppinsMedium";
  src: url(https://rajvin23.github.io/ProPathInfohub/fonts/Poppins/Poppins-Medium.ttf);
}